._6e9f8dce4cc18de3-icon, /* Server Icons */
.f34534e8a5d3ca64-icon /* Server Icons in folders */ {
  filter: blur(4px);
}

.c19a557985eb7793-avatar, ._44b0c28be7879b7b-svg > foreignObject, .c19a557985eb7793-replyAvatar /* User Avatars */ {
  filter: blur(4px);
}

.c19a557985eb7793-avatarDecoration, ._44b0c28be7879b7b-avatarDecoration /* User Avatar Decorations */ {
  filter: blur(4px);
}

[class^="username_"], ._20a53846fe2e8513-name, ._00943886e1cf89d1-header ._4bd5201c86a2042b-defaultColor, ._63ed30c16c7151f2-nickname, ._63ed30c16c7151f2-userTagUsername, ._63ed30c16c7151f2-guildTagContainer /* Usernames and Tags */ {
  filter: blur(4px);
}

._9bfb9a25604068f0-accountNameText /* Usernames on linked accounts */ {
  filter: blur(4px);
}
